.composition {
    position: relative;

    &__photo {
        width: 55%;
        position: absolute;
        box-shadow: 0 3rem 6rem rgba($color-black, 0.3);
        z-index: 0;
        transition: .3s all;
        margin: 1.5rem;
        outline-offset: 1.5rem;

        &:hover {
            z-index: 1;
            box-shadow: 0 5rem 8rem rgba($color-black, 0.6);
            transform: scale(1.1) translateY(-1rem);
            outline: 1.5rem solid $color-primary;
        
        }

        &--p1 {
            left: 0;
            top: -2rem;
        }
        &--p2 {
            right: 0;
            top: 2rem;
        }
        &--p3 {
            left: 20%;
            top: 10rem;
        }
    }

    &:hover &__photo:not(:hover) {
        transform: scale(0.8);
    }
    
    
}